* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border: none;
}

p, span {
	font-family: 'Rubik', sans-serif;
	color: #151515;
}

h1, h2, h3, h4, input, .titulo span {
	font-family: 'Cormorant', serif;
}

.container {
	padding: 0 25px;
}

/*Header*/

header {
	background: transparent;
	font-family: 'Cormorant', serif;
	z-index: 2;
	position: relative;
}

.header-conteudo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	/*height 130px*/
	padding-left: 15px;
}

.menus {
	display: flex;
	position: relative;
}

/*Nav-Menu*/

.nav {
	display: flex;
	align-items: center;
}

.nav-menu {
	position: fixed;
	background: white;
	top: 0;
	left: 0; 
	bottom: 0;
	width: 270px;
	padding: 20px;
	z-index: 1000;
	transform: translateX(-100%);
	transition: .5s;
}

.nav.active .nav-menu {
	transform: translateX(0);
}

.nav-menu li a {
	display: block;
	font-size: 34px;
	color: black;
	padding: 18px 10px;
	font-weight: 500;
}

.menu-idioma {
	position: relative;
	background: transparent;
	padding: 0px 0;
	margin-left: 5px;
	transition: .1s;
	width: 80px;
	display: none;
}

.menu-idioma.active {
	background: white;
}

.menu-idioma .btn-idioma {
	width: 100%;
	height: 100%;
	background: transparent;
	transition: .3s;
}

.menu-idioma.active .btn-idioma {
	background: white;
	color: black;
}

.menu-idioma a, .menu-idioma .btn-idioma {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	display: block;
	color: white;
	padding: 5px 15px;
	cursor: pointer;
	text-align: left;
	font-size: 17px;
}

.menu-idioma .sub-menu {
	width: 100%;
	position: absolute;
	background: white;
	visibility: hidden;
	overflow-y: hidden;
	transition: .3s;
	height: 0;
	opacity: 0;
}

.menu-idioma.active .sub-menu {
	visibility: visible;
	opacity: 1;
	height: 94px;
}

.menu-idioma .sub-menu a {
	color: black;
}

.menu-idioma .seta {
	position: relative;
	border: 2px solid;
	width: 9px;
	height: 9px;
	content: '';
	display: inline-block;
	border-color: transparent transparent white white;
	border-radius: 1px;
	transform: rotate(-45deg);
	top: -3px;
	left: 5px;
	transition: .3s;
}

.menu-idioma.active .seta {
	border-color: transparent transparent black black;
}

/*Logo*/

.logo {
	text-align: center;
	order: -1;
}

.logo a:first-child {
	font-size: 24px;
	/*font-size: 34px;*/
	color: white;
	display: block;
	margin-bottom: -2px;
	
}

.logo a:last-child {
	font-size: 17px;
	/*font-size: 18px;*/
	color: white;
	display: block;
	margin-bottom: -5px;
}

/*Botões*/

.btn {
	border: 1px solid white;
	color: white;
	display: inline-block;
	padding: 12px 35px;
	position: relative;
	z-index: 1;
}

.btn:after {
	width: calc(100% + 2px);
	height: 0;
	background: #151515;
	position: absolute;
	content: '';
	left: -1px;
	top: -1px;
	transition: .3s linear;
	z-index: 2;
}

.btn span {
	z-index: 3;
	position: relative;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 300;
	color: white;
}

.btn:hover:after  {
	height: calc(100% + 2px);
}

.nav button {
	width: 50px;
	height: 37px;
	padding: 10px;
	display: flex;
	cursor: pointer;
	background: transparent;
	position: relative;
	justify-content: center;
	z-index: 50;
}

.btn-hamburger {
	content: '';
	display: block;
	width: 25px;
	height: 2px;
	background: white;
	position: relative;
	top: 7px;
	transition: .2s;
}

.nav.active .btn-hamburger {
	background: transparent;
}

.btn-hamburger:before {
	display: block;
	content: '';
	width: 25px;
	height: 2px;
	background: white;
	position: relative;
	top: -9px;
	transition: top .2s, transform .2s;
	transition-property: top, transform;
	transition-delay: .3s, 0s;
	transform: rotate(0);
}

.nav.active .btn-hamburger:before {
	top: 0px;
	transition: top .2s, transform .2s;
	transition-property: top, transform;
	transition-delay: 0s, .3s;
	transform: rotate(135deg);
}

.btn-hamburger:after {
	display: block;
	content: '';
	width: 25px;
	height: 2px;
	background: white;
	position: relative;
	top: 7px;
	transition: top .1s, transform .1s;
	transition-property: top, transform;
	transition-delay: .3s, 0s;
	transform: rotate(0);
}

.nav.active .btn-hamburger:after {
	top: -2px;
	transition: top .2s, transform .2s;
	transition-property: top, transform;
	transition-delay: 0s, .3s;
	transform: rotate(-135deg);
}

.btn-gerais {
	padding: 17px 40px;
}

.btn-gerais span {
	font-size: 15px;
	color: #151515;
}

.btn-gerais:hover span {
	color: white;
}

.call {
	display: none;
}

/*Home*/

.secao-home {
	background-image: url(../imagens/home-bg.jpg);
	background-position: center;
	position: relative;
	top: -80px;
	background-size: cover;
	height: 100vh;
	display: grid;
	align-items: center;
	margin-bottom: -80px;
}

.conteudo-home {
	display: grid;
}

.conteudo-home h1 {
	font-size: 70px;
	font-weight: 400;
	color: white;
	line-height: 75px;
	margin-bottom: 35px;
	letter-spacing: -1.5px;
}

.secao-home .btn-gerais {
	background: white;
	color: black;
}

/*Gerais*/

.secao-1, .secao-2, .secao-3, .secao-5, .secao-6, .secao-7 {
	padding-top: 80px;
	padding-bottom: 20px;
}

.gerais-textos {
	border: 1px solid red;
}

.titulo {
	font-size: 65px;
	font-weight: 400;
	color: #151515;
	line-height: 60px;
	margin-bottom: 25px;
	letter-spacing: -1.5px;
}

.secao-3 .titulo, .secao-5 .titulo {
	text-align: center;
}

.conteudo-gerais p {
	font-size: 16px;
	margin-bottom: 15px;
	line-height: 30px;
	font-weight: 300;
}

.conteudo-gerais .btn-gerais {
	border: 1px solid #151515;
	margin-top: 30px;
}

/*Seção 1*/

.secao-1 .conteudo-gerais {
	display: grid;
	grid-row-gap: 80px;
}

.secao-1  {
	border: 1px solid red;
}

.secao-1 .titulo {
	text-align: right;
}

.secao-1 .conteudo-gerais p {
	max-width: 410px;
}

.secao-1 .conteudo-img {
	padding-top: 20px;
}

.secao-1 .conteudo-img img {
	width: 100%;
	max-width: 280px;
	margin-left: 60px;
	/*box-shadow: 30px -60px pink, 30px 60px green, -60px 60px red, -60px -60px blue;*/
	position: relative;
	z-index: -1;
}

/*Seção 2*/

.secao-2 {
	border: 1px solid red;
}

.secao-2 .conteudo-gerais {
	display: grid;
	grid-row-gap: 20px;
}

.secao-2 .titulo {
	text-align: left;
}

.secao-2 .conteudo-gerais p {
	font-weight: 400;
	border: 1px solid red;
	width: 310px;
	margin-left: 60px;
}

.secao-2 .conteudo-img {
	border: 1px solid red;
	padding-right: 48px;
}

.secao-2 .conteudo-img img {
	width: 100%;
	max-width: 599px;	
}

/*Seção 3*/

.secao-3 {
	border: 1px solid red;
}

.secao-3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-top: 10px;
}

.secao-3 .conteudo-gerais p {
	text-align: center;
	max-width: 550px;
	margin:  auto;
	margin-top: 20px;
	padding: 0 10px;
}

/*Seção 4*/

.secao-4 {
	padding-top: 40px;
}

.secao-4 .conteudo-gerais {
	position: relative;
	max-width: 650px;
	margin: 0 auto;
}

.secao-4 .titulo {
	text-align: right;
}

.card {
	margin-top: 40px;
}

.card div {
	padding: 0 20px;
}

.secao-4 img {
	border: 1px solid red;
	height: 100%;
	max-height: 340px;
	width: 100%;
	object-fit: cover;
	margin-bottom: 20px;
}

.secao-4 h3 a{
	display: inline-block;
	color: #151515;
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 20px;
}

.secao-4 p + p{
	margin-top: 10px;
}

.secao-4 .conteudo-gerais .btn-gerais {
	margin-top: 5px;
}

.secao-4 .btn-left, .secao-4 .btn-right {
	border: 1px solid red;
	position: absolute;
	display: none;
	top: 62%;
	color: #151515;
	font-size: 30px;
	cursor: pointer;
	background: transparent;
	z-index: 10;	
	transition: .4s;
}

.secao-4 .btn-left:hover, .secao-4 .btn-right:hover {
	color: #4c4b4b;
}

.secao-4 .btn-left {
	left: -25px;
}

.secao-4 .btn-right {
	right: -25px;
}

/*Seção 5*/

.secao-5 .conteudo-gerais p {
	text-align: center;
	margin-bottom: 30px;
	max-width: 805px;
	margin: 0 auto 30px;
}

.secao-5 img {
	width: 100%;
}

/*Seção 6*/

.secao-6 .conteudo-gerais {
	display: grid;
	row-gap: 30px;
}

.secao-6 .titulo {
	grid-column: 1 / 3;
	margin-bottom: 10px;
}

.secao-6-card {
	grid-column: 1 / 3;
}

.secao-6 img {
	display: block;
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 25px;
}

.secao-6 h3 {
	margin-bottom: 20px;
}

.secao-6 h3 a {
	font-size: 30px;
	color: #151515;
	font-weight: 400;
}

.secao-6 .conteudo-gerais .btn-gerais {
	margin-top: 25px;
}

/*Seção 7*/

.secao-7 .titulo {
	margin-bottom: 40px;
}
.secao-7 .input {
	width: 100%;
	max-width: 460px;
	display: block;
	font-size: 18px;
	padding: 18px 10px;
	border: 1px solid #151515;
	margin-bottom: 30px;
}

.secao-7 .input:focus {
	outline: 0;
}

.check {
	cursor: pointer;
	margin-bottom: 20px;
	width: 100%;
	max-width: 460px;
	display: flex;
}

.check input {
	cursor: pointer;
}

.check p {
	font-size: 17px;
	color: #151515;
	margin-left: 5px;
	line-height: 22px;
}

.form-btn {
	background-color: #151515;
	display: block;
	padding: 18px 38px;
	cursor: pointer;
	letter-spacing: 1.5px;
	color: white;
	font-size: 17px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	transition: .3s;
	border: 1px solid #151515;
}

.form-btn:hover {
	background-color: white;
	color: #151515;
}

/*Footer*/

.footer {
	color: #151515;
	text-align: center;
	padding-top: 40px;
	border: 1px solid blue;
}

.footer .contatos div {
	display: inline-flex;
	flex-wrap: wrap;
}

.footer .contatos h4 {
	font-size: 36px;
	color: #151515;
	font-weight: 500;
	margin-bottom: 20px;
}

.footer .contatos div p {
	font-size: 30px;
	font-family: 'Cormorant', serif;
	margin-bottom: 0px;
	padding: 0 20px;
	margin: 0 auto;
}

.footer-bottom {
	padding: 20px 20px 30px 20px;
	margin-top: 40px;
	display: grid;
	row-gap: 5px;
	border-top: 1px solid #cbc9c7;
}

.footer .politica {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #151515;
	margin: 10px 0;
	display: block;
}

.footer .copy {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #151515;
}

.footer .copy a {
	color: 9000E9;
	font-weight: 400;
}

.redes-sociais {
	display: flex;
	border: 1px solid red;
	justify-content: center;
}

.redes-sociais li {
	position: relative;
}

.redes-sociais li + li {
	margin-left: 8px;
}

.redes-sociais  li .btn-redes {
	display: block;
	padding: 3px;
}

.redes-sociais .icon{
	display: block;	
	color: #151515;
	font-size: 20px;
}

.redes-sociais .ocuto {
	position: absolute;
	padding: 10px 15px;
	background-color: #151515;
	color: white;
	font-weight: 300;
	font-size: 14px;
	top: -60px;
	transform: translateX(-50%);
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: .2s;
	transition-delay: 0;
}

.redes-sociais .ocuto:after {
	content: '';
	border: 5px solid transparent;
	border-top-color: #333;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: -10px;
}

.redes-sociais .ocuto.active {
	top: -50px;
	visibility: visible;
	opacity: 1;
	transition-delay: .2s;
}

.footer .ao-topo {
	width: 50px;
	height: 50px;
	background: #151515;
	opacity: .3;
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: opacity .3s, transform .2s;
	transform: translateY(60px);
}

.footer .ao-topo.active {
	transform: translateY(0px);
}

.footer .ao-topo:hover {
	opacity: 1;
}

.footer .ao-topo span {
	margin: auto;
	position: relative;
	display: block;
	height: 11px;
	width: 11px;
}

.footer .ao-topo span:before {
	content: '';
	width: 3px;
	height: 11px;
	background: white;
	position: absolute;
	transform: rotate(45deg);
	left: 1px;
}
.footer .ao-topo span:after {
	transform: rotate(-45deg);
	content: '';
	width: 3px;
	height: 11px;
	background: white;
	position: absolute;
	right: 1px;
}

@media (min-width: 600px) {

	.container {
		padding: 0 40px;
	}

	/*Header*/

	.header-conteudo {
		padding-left: 10px;
		padding-right: 25px;
	}

	/*Logo*/

	.nav button {
		order: 1;	
	}
	.menu-idioma {
		display: block;
	}

	.logo {
		text-align: center;
		order: 2;
	}

	.logo a:first-child {
		font-size: 34px;
		margin-bottom: -2px;	
	}

	.logo a:last-child {
		font-size: 18px;
	}

	.call {
		order: 3;
		display: block;
	}

	/*Gerais*/

	.titulo {
		font-size: 50px;
		line-height: 50px;
	}

	/*Home*/

	.conteudo-home h1 {
		font-size: 66px;
	}

	/*Seção 1*/

	.secao-1 .conteudo-img img {
		max-width: 450px;
		margin-left: 55px;
	}

	/*Seção 2*/

	.secao-2 .conteudo-gerais p {
		width: 410px;
		margin-left: 130px;
	}

	/*Seção 6*/

	.secao-6 .conteudo-gerais {
		display: grid;
		grid-template-columns: repeat(2, 1fr);	
		column-gap: 50px;
	}

	.secao-6-card {
		grid-column: auto;
	}

	.secao-6 img {
		height: 100px;
	}

	.secao-6 .titulo {
		margin-bottom: 70px;
	}
}

@media (min-width: 767px) {

	/*Gerais*/

	.secao-1, .secao-2, .secao-3, .secao-5, .secao-6, .secao-7 {
		padding-top: 90px;
		padding-bottom: 30px;
	}

	/*Home*/

	.conteudo-home {
		grid-template-columns: 1fr 1fr;
	}

	.home-texto {
		grid-column: 2;
	}

	/*Seção 1*/

	.secao-1 .conteudo-gerais, .secao-2 .conteudo-gerais {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.secao-1 .conteudo-img {
		padding-left: 51px;
	}

	.secao-1 .conteudo-img img {
		margin-left: 0;
	}

	/*Seção 2*/

	.secao-2 .conteudo-gerais p {
		width: auto;
		max-width: 410px;
	}

	.secao-2 .conteudo-img {
		grid-column: 1;
		grid-row: 1;
	}

	.secao-2 .conteudo-img img {
		display: flex;
		border: 1px solid red;
		margin-left: auto;
	}

	/*Seção 4*/

	.titulo-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	/*Seção 6*/

	.secao-6 img {
		height: 135px;
	}

	.secao-6 .titulo {
		grid-column: 2 / 3;
		border: 1px solid red;
	}

	/*Seção 7*/

	.secao-7 .conteudo-gerais {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 50px;
	}

	/*Footer*/

	.redes-sociais {
		justify-content: left;
	}

	.footer .copy {
		font-size: 17px;
		font-weight: 400;
		text-align: right;
	}

	.footer-bottom {
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		padding: 25px 20px 40px 20px;
	}
}

@media (min-width: 920px) {

	/*Gerais*/

	.secao-1, .secao-2, .secao-3, .secao-5, .secao-6, .secao-7 {
		padding-top: 100px;
		padding-bottom: 40px;
	}

	.titulo {
		font-size: 60px;
		line-height: 60px;
	}

	/*Home*/

	.conteudo-home h1 {
		font-size: 75px;
		line-height: 80px;
		margin-bottom: 40px;
	}

	/*Seção 4*/

	.secao-4 .btn-left, .secao-4 .btn-right {
		display: block;
	}

	/*Seção 6*/

	.secao-6 img {
		height: 170px;
	}
}

@media (min-width: 1025px) {

	/*Gerais*/

	.secao-1, .secao-2, .secao-3, .secao-5, .secao-6, .secao-7 {
		padding-top: 110px;
		padding-bottom: 50px;
	}

	.titulo {
		font-size: 70px;
		line-height: 70px;
	}

	/*Home*/

	.conteudo-home h1 {
		font-size: 80px;
		line-height: 90px;
		margin-bottom: 70px;
	}

	/*Seção 4*/

	.card {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.card div {
		order: -1;	
		border: 1px solid blue;
		padding: 60px 0 0 90px;
		height: 500px;
	}

	.card h3 a {
		font-size: 64px;
	}

	.secao-4 .btn-left, .secao-4 .btn-right {
		display: none;
	}

	.secao-4 .conteudo-gerais {
		max-width: 100%;
		margin: 0 auto;
		border: 1px solid red;
	}

	.secao-4 .link-img {
		height: 100%;
		background: red;
	}

	.secao-4 img {
		border: 1px solid red;
		height: 100%;
		max-height: 500px;
		width: 100%;
		margin-bottom: 0;
	}

	.secao-4 .conteudo-gerais .btn-gerais {
		margin-top: 50px;
	}

	/*Seção 6*/

	.secao-6 img {
		height: 200px;
	}

	/*Footer*/

	.footer-bottom {
		padding: 50px 20px 70px 20px;
	}
}

@media (min-width: 1281px) {

	.container, .secao-4 .conteudo-gerais, .conteudo-footer {
		max-width: 1300px;
		margin: 0 auto;
	}

	/*Gerais*/

	.secao-1, .secao-2, .secao-3, .secao-5, .secao-6, .secao-7 {
		padding-top: 120px;
		padding-bottom: 60px;
	}

	.titulo {
		font-size: 85px;
		line-height: 85px;
	}

	/*Header*/

	.header-conteudo {
		height: 130px;
	}

	/*Home*/

	.secao-home {
		background-image: url(../imagens/home-bg.jpg);
		top: -130px;
		margin-bottom: -130px;
	}

	.conteudo-home h1 {
		font-size: 95px;
		line-height: 105px;
		margin-bottom: 70px;
	}

	/*Seção 2*/

	.secao-2 .titulo span {
		display: block;
	}

	/*Seção 4*/

	.secao-4 .btn-left, .secao-4 .btn-right {
		display: block;
	}

	.secao-4 .btn-left {
		left: 0;
	}

	.secao-4 .btn-right {
		right: 0;
	}

	/*Seção 6*/

	.secao-6 img {
		height: 260px;
	}

	/*Footer*/

	.footer-bottom {
		padding: 50px 0 70px 0;
	}
}